@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}

.text-color{
    color: rgba(0, 0, 0, 0.7);
}
body{
    background-color: #D5D6D8;
    font-family: "Open Sans", serif;

}
#container{
    width: 1280px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 0;
}
.navbar p{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}
.navbar button{
    border: 0;
}
.navbar button a{
    text-decoration: none;
    color: #006A50;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background: white;
    border: 1px solid #006A50;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.3s;

}
.navbar button a:hover{
    background-color: #006A50;
    border: 1px solid white;
    color: white;
    transition: 0.3s;
}


.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 20px;
    margin: 50px 0;
    padding: 40px 40px;
}
.banner h5{
    color: rgb(14, 14, 14,.5);

}
.banner .banner-text{
    font-weight: 700;
    font-size: 40px;

}
.banner button{
    border: none;
    margin: 20px 0;
}

.banner button a{
    text-decoration: none;
    color: #FFFF;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background: #006A50;
    border: 1px solid #006A50;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.3s;

}
.banner button a:hover{
    background-color: #ffff;
    border: 1px solid #006A50;
    color: #006A50;
    transition: 0.3s;

}
.vision{
    margin: 50px 0;
}
.vision .text{
    margin: 80px 0;
}

.vision h4{
    font-weight: 700;
    font-size: 22px;
}
.vision p{
    font-weight: 400;
    font-size: 16px;
}
.vision .card-container{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.vision .card-container .card{
    width: 345px;
    background-color: rgba(84, 144, 245,.20);
    padding: 40px 20px;
    border-radius: 10px;
}
.vision .card-container .card2{
    background-color: rgb(0, 106, 106,0.2);
}

.vision .card-container .card .title{
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0;

}
.vision .card-container .card .description{
    font-size: 16px;
    color: rgba(14, 14, 14,0.7);
}
.vision .card-container .card button{
    margin: 20px 0;
    border: none;
}
.vision .card-container .card button a{
    text-decoration: none;
    color: #FFFF;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background: #006A50;
    border: 1px solid #006A50;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.3s;

}
.vision .card-container .card2 button a{
    background-color: rgba(166, 220, 222, 0.9);
    border: 1px solid rgba(166, 220, 222, 0.9);
    color: rgb(26, 24, 24);
}
.vision .card-container .card3 button a{
    background-color: rgba(129, 165, 166, 0.9);
    border: 1px solid rgba(129, 165, 166, 0.9);
    color: rgb(26, 24, 24);

}


.vision .card-container .card button a:hover{
    background-color: #ffff;
    border: 1px solid #006A50;
    color: #006A50;
    

}

.quotes .younus{
    background-color: #fff;
    padding: 40px 50px;
    border: 1px solid #b3b2b2;
    border-radius: 15px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top 13px left 47px;
}
.quotes .younus .title{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.quotes .younus .names{
    font-weight: 600;
    font-size: 18px;
    margin-top: 15px;
}
.quotes .younus .down{
    font-weight: 400;
    font-size: 14px;
}

.recent{
    margin: 80px 0;
}

.recent .text .title{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 25px;
}
.recent .text .description{
    font-weight: 400;
    font-size: 16px;
}
.recent-card-container{
    margin-top: 40px;
}
.recent-card-container .recent-card{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 50px 20px;
    border-radius: 15px;
    margin: 50px 0;
    
    
}
.recent-card-container .card-reverse{
    flex-direction: row-reverse;
}
.recent-card-container .recent-card .card-img{
    width: 30%;
    border-radius: 15px;
}
.recent-card-container .recent-card .card-img img{
    width: 100%;
    border-radius: 15px;
}

.recent-card-container .recent-card .text{
    width: 65%;
    
}
.recent-card-container .recent-card .text img{
    margin: 10px 0;
}

.recent-card-container .recent-card .text-title{
    font-weight: 700;
    font-size: 25px;
}

.recent-card-container .recent-card .text .description{
    margin: 10px 0;
}
.recent-card-container .recent-card .text button{
    border: none;
    margin: 20px 0;
}
.recent-card-container .recent-card .text button a{
    text-decoration: none;
    color: #FFFF;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background: #006A50;
    border: 1px solid #006A50;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.3s;

}
.recent-card-container .recent-card .text button a:hover{
    background-color: #dfdada;
    border: 1px solid #006A50;
    color: #006A50;
    transition: 0.3s;

}
#donate {
    margin: 80px 0;
}

#donate .upper-text{
    text-align:center;
    width: 80%;
    margin: 0 auto;
}
#donate .upper-text .title{
    font-weight: 700;
    font-size: 28px;
    
}
#donate .taka-container{
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
#donate .taka-container .taka{
    text-align: center;
    width: 15%;
    background-color: #fff;
    padding: 40px 40px;
    border-radius: 10px;
    transition: 0.3s;
}
#donate .taka-container .taka p{
    font-weight: 700;
    font-size: 28px;
}

#donate .taka-container .taka:hover{
    background-color: rgb(67, 71, 71);
    color: #ffff;
    

}
#donate .form{
    width:78%;
    margin: 0 auto;
}
#donate .form input{
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    border: 0;
    text-align: center;
}
#donate .form input::placeholder{
    padding: 10px 40px;
}
#donate .btn{
    text-align: center;
    margin: 40px 0;
}
#donate .btn button{
    border: 0;
}
#donate button a{
    text-decoration: none;
    color: #FFFF;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background: #006A50;
    border: 1px solid #006A50;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.3s;

}
#donate button a:hover{
    background-color: rgb(67, 71, 71);
    color: #ffff;
}
.news{
    text-align: center;
    background-color: #C6E4D6;
    padding: 50px 0;
    border-radius: 15px;
}
.news .title{
    font-weight: 700;
    font-size: 28px;
}
.news .news-description{
    width: 616px;
    margin: 15px auto;
    
}
.news .news-form{
    width: 700px;
    margin: 0 auto;
}
.news .news-form input{
    width: 80%;
    padding: 20px 0;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
.news .news-form input::placeholder{
    padding: 0 10px;
}

.news .news-form button{
    border: none;
    margin-left: -5px;
}
.news .news-form button a{
    text-decoration: none;
    color: #FFFF;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    background: #006A50;
    border: 1px solid #006A50;
    padding: 16px 20px;
    transition: 0.3s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.news .news-form button a:hover{
    background-color: rgb(67, 71, 71);
    color: #ffff;
}